<div class="canvas">
  <div class="alert alert-success">
    <h1>{{course.name}} ({{modules.length}} Units)</h1>
    <div class="row">
      <div class="col-md-8">
        <div>
          Taught
          <progressbar
            type="{{numLOsTaught | progressType}}"
            value="numLOsTaught || 0"
            max="numLOs">
            {{numLOsTaught}} of {{numLOs}}
          </progressbar>
        </div>
        <div>
          Assessed
          <progressbar
            type="{{numLOsAssessed | progressType}}"
            value="numLOsAssessed || 0"
            max="numLOs">
            {{numLOsAssessed}} of {{numLOs}}
          </progressbar>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Unit Name</th>
        <th># Canvas Content Items</th>
        <th>Learning Objectives</th>
      </tr>
    </thead>
       
    <tbody>
      <tr ng-repeat="module in modules">
        <td><a href="#/courses/{{course.id}}/module/{{module.id}}">{{module.name}}</a></td>
        <td>{{module.items_count}}</td>
        <td>
          <learning-objective id="{{tag.content}}" ng-repeat="tag in module.tags | unassigned"></learning-objective>
        </td>
        <td>
          <button class="btn btn-default" ng-click="open('lg', module)">Edit LO's</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
