<!-- <div class="modal-header">
</div>

 -->
 <div class="modalBody">
  <h2>Unit 1 - Our Digital World - Learning Objectives Map</h2>

  <form role="form" ng-submit="addLOs()">
    <div class="panel panel-primary">
      <div class="panel-heading">Unit Overview</div>
      <div class="panel-body">
        Students explore the current state of technology and its role in our everyday lives.
      </div>
    </div>

   <div class="panel panel-success" ng-repeat="lo in unitLOs">
      <div class="panel-heading">{{lo.description}}</div>
    </div>
    <h2>CSP Framework</h2>

    <label>Search: <input ng-model="searchText"></label>
    <span>
      <button class="btn btn-primary pull-right" type="button" ng-click="ok()">OK</button>
      <button class="btn btn-warning pull-right" type="button" ng-click="cancel()">Cancel</button>
    </span>
  
    <div ng-repeat="bigIdea in bigIdeas">
     {{bigIdea.description}}       
      <accordion close-others="oneAtATime" class="panel panel-default" ng-repeat="eus in bigIdea.children">
        <accordion-group heading="{{eus.description}}" is-open=isCollapesd>
          <span>
          <table class="table" ng-repeat="lo in eus.children | filter:searchText">
            <tr>
              <td class="text-left">{{lo.description}}</td>
              <td>
                <button class="button pull-right" ng-click="toggleLOinUnit(lo); isAdded = !isAdded">
                  {{isAdded ? "Remove" : "Add"}}
                <div class="lo on" ng-show="isAdded" ng-animage="'lo'"></div></button>
              </td>
            </tr>
          </table>
      </accordion>
    </div>
  </form>
</div>
