<div class="modalBody">
  <h2>{{moduleName}} - Learning Objectives Map</h2>

  <form role="form" ng-submit="addLOs()">

  <learning-objective ng-repeat="lo in unitLOs" expanded id="{{lo}}"></learning-objective>
    <h2>CSP Framework</h2>

    <label>Search: <input ng-model="searchText"></label>
    <span>
      <button class="btn btn-primary pull-right" type="button" ng-click="ok()">OK</button>
      <button class="btn btn-warning pull-right" type="button" ng-click="cancel()">Cancel</button>
    </span>
  
    <div ng-repeat="bigIdea in bigIdeas">
     {{bigIdea.description}}       
      <accordion close-others="oneAtATime" class="panel panel-default" ng-repeat="eus in bigIdea.children">
        <accordion-group heading="{{eus.description}}" is-open=!isCollapsed ng-click="isCollapsed=!isCollapsed">
          <table class="table" ng-repeat="lo in eus.children | filter:searchText">
            <tr>
              <td class="text-left">{{lo.id}} - {{lo.description}}</td>
              <td>
                <button class="button pull-right" ng-click="toggleLOinUnit(lo.id); isAdded = !isAdded">
                  {{isAdded ? "Remove" : "Add"}}
                </button>
              </td>
            </tr>
          </table>
        </accordion>
      </accordion>
    </div>
  </form>
</div>
