	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#todo-list 				{ margin-bottom:30px; }
		#todo-form 	 			{ margin-bottom:50px; }
	</style>

	<div class="container">

		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>Unit 1 Outline: <span class="label label-info">{{ unit.name }}</span> Items</h1>
		</div>

		<!-- TODO LIST -->
		<div id="lessonItem-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">

				

				<!-- LOOP OVER THE TODOS IN $scope.todos -->
				<div class="checkbox" ng-repeat="lessonItem in unit.lessons">
					<label>
						<input type="checkbox" ng-click="deleteTodo(lessonItem._id)"> {{ lessonItem.name }}
					</label>
				</div>

				<p class="text-center" ng-show="loading">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
				</p>

			</div>
		</div>

		<!-- FORM TO CREATE TODOS -->
		<div id="lessonItem-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
						<input type="text" class="form-control input-lg text-center" placeholder="Item Description" ng-model="formData.text">
					</div>

					<!-- createToDo() WILL CREATE NEW TODOS -->
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createLessonItem()">Add</button>
				</form>
			</div>
		</div>

		<div class="text-center text-muted">
			<p>More info here: <a href="http://scotch.io">Scotch</a>.</p>
		</div>

	</div>

</body>
</html>
