<div class="container">
  <h2>Unit 1 - Our Digital World - Learning Objectives Map</h2>

  <form role="form" ng-submit="addLOs()">
    <div class="panel panel-primary">
      <div class="panel-heading">Unit Overview</div>
      <div class="panel-body">
        Students explore the current state of technology and its role in our everyday lives.
      </div>
    </div>
    <div class="panel panel-success" ng-repeat="lo in unitLOs">
      <div class="panel-heading">{{lo.description}}</div>
    </div>
    <h2>CSP Framework</h2>
    <label>Search: <input ng-model="searchText"></label>
    <div ng-repeat="bigIdea in bigIdeas">
     {{bigIdea.description}}       
      <div class="panel panel-default" ng-repeat="eus in bigIdea.children">
      <div class="panel-heading">{{eus.description}}<span>
              <button class="button pull-right" ng-click="element.isCollapsed = !element.isCollapsed">Show LO's</button></span>
      </div>
        <div collapse="element.isCollapsed">
          <div ng-show="!element.isCollapsed" class="panel-body ">
            <table class="table" ng-repeat="lo in eus.children | filter:searchText">
              <tr>
                <td class="text-left">{{lo.description}}</td>
                <td>
  <!--                 <button ng-click="toggle = !toggle">
  <button ng-click="toggle = !toggle"><span ng-show="toggle">Toggle to Off</span><span ng-hide="toggle">Toggle to On</span></button>
   --><!-- <div class="box on" ng-show="toggle" ng-animate="'box'">On</div> -->

                  <button class="button pull-right" ng-click="toggleLOinUnit()">Add</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
