<table class="table table-striped">
  <pre>{{showContentType}}</pre>
  <h1>Unit - {{module.name}}</h1>
  <span>
    <div class="alert alert-info">
       <h4><span class="badge">{{numLessons}}</span> Lessons</h4>
       <h4>{{numContentItems}} Lesson Items (Files, External, Page)</h4>
       <h4><span class="badge">{{numQuizes}}</span>Quizes</h4>
       <h4><span class="badge">{{numDiscussions}}</span>Discussions</h4>
       <h4><span class="badge">{{numAssignments}}</span> Assignments</h4>
       <learning-objective id="{{lo}}" ng-repeat="lo in module.learningObjectives"></learning-objective>
    </div>
    <div class="alert alert-info">
       <h4>Total Filtered: {{filtered.length}}</h4>
    </div>
  </span>
  <div class="btn-group">
    <label class="btn btn-primary" ng-model="showContentType.All" btn-checkbox>All</label>
  </div>
  <div class="btn-group">
    <label class="btn btn-primary" ng-model="showContentType.Lesson" btn-checkbox>Lesson</label>
    <label class="btn btn-primary" ng-model="showContentType.ContentItem" btn-checkbox>Content</label>
    <label class="btn btn-primary" ng-model="showContentType.Quiz" btn-checkbox>Quiz</label>
    <label class="btn btn-primary" ng-model="showContentType.Discussion" btn-checkbox>Discussions</label>
    <label class="btn btn-primary" ng-model="showContentType.Assignment" btn-checkbox>Assignment</label>
  </div>

	<tr ng-repeat="contentItem in filtered = (lessonItems | filter: matchType(query))">
		<td>{{contentItem.title}}</td>
    <td><a href="{{contentItem.lessonPlanUrl}}">{{contentItem.lessonPlanID}}</a></td>
		<td>{{contentItem.type}}</td>
	</tr>
</table>
<span ng-repeat="i in pageNumbers" ng-click="loadPage(i)">{{i}}</span>
