<div>
  <h1><a href="#/courses/{{course.id}}">{{course.course_code}}</a>:Unit - {{module.name}}</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="alert alert-info">
           <h4><span class="badge">{{numLessons}}</span> Lessons</h4>
           <h4>{{numContentItems}} Lesson Items (Files, External, Page)</h4>
           <h4><span class="badge">{{numQuizes}}</span>Quizes</h4>
           <h4><span class="badge">{{numDiscussions}}</span>Discussions</h4>
           <h4><span class="badge">{{numAssignments}}</span> Assignments</h4>
           <div
             ng-drag="true"
             ng-drag-data="tag"
             ng-drag-start="toggleDropZones(true)"
             ng-drag-stop="toggleDropZones(false)"
             ng-repeat="tag in tags | unassigned track by tag._id">
             <learning-objective id="{{tag.content}}" >
              <span class="delete-x" ng-click="deleteTagsByContent(tag.content)">x</span>
             </learning-objective>
           </div>
        </div>
      </div>
      <div class="col-md-8">
        <img src="../media/DMSchedule.png" alt=""> 
      </div>
    </div>
  </div>
  <div class="btn-group">
    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'All'">All</label>
    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Lesson'">Lesson</label>
    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Quiz'">Quiz</label>
    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Discussion'">Discussions</label>
    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Assignment'">Assignment</label>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Lesson Item</th>
      <th>Teacher Resource</th>
      <th>Type</th>
      <th>Learning Objectives</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="contentItem in filtered = (lessonItems | filter: matchType(query))">
      <td>{{contentItem.title}}</td>
      <td>
        <button class="btn btn-primary" ng-show="contentItem.lessonPlanUrl" ng-click="open(contentItem.lessonPlanUrl)">{{contentItem.lessonPlanID}}</button>
      </td>
      <td>{{contentItem.type}}</td>
      <td>
        <learning-objective id="{{tag.content}}" ng-repeat="tag in tags | filter:{activityId:contentItem.id} track by tag._id">
          <span class="delete-x" ng-click="deleteTag(tag)">x</span>
        </learning-objective>
        <div ng-show="showDropZones" ng-drop="true" ng-drop-success="onDrop($data, contentItem)"></div>
      </td>
    </tr>
  </tbody>
</table>
<span ng-repeat="i in pageNumbers" ng-click="loadPage(i)">{{i}}</span>
